<h1>へんしゅう</h1> <button class='top'><a href='<%= uri('/posts') %>'>戻る</a></button>
<form action='update' method='POST' class='quiz-edit'>
  <div class='item'>
    <label for='kanji'>Kanji</label>
    <input id='kanji' name='post[kanji]' value='<%= quiz.kanji %>' />
  </div>
  <div class='item'>
    <label for='kana'>Kana</label>
    <input id='kana' name='post[kana]' value='<%= quiz.kana %>' />
  </div>
  <div class='item'>
    <label for='prefecture'>Prefecture</label>
    <input id='prefecture' name='post[prefecture]' value='<%= quiz.prefecture %>' />
  </div>
  <div class='item'>
    <label for='level'>Level</label>
    <input id='level' name='post[level]' value='<%= quiz.level %>' type='number' />
  </div>
  <div class='item'>
    <label for='hint'>Hint</label>
    <textarea id='hint' name='post[hint]'><%= quiz.hint %></textarea>
  </div>
  <button type='submit' class='submit'>Update</button>
</form>
