<h1>へんしゅう</h1>
<button class='top'><a href='<%= uri('/quizzes') %>'>戻る</a></button>
<button class='top'><a href='<%= uri('/quizzes/new') %>'>追加</a></button>
<form action='update' method='POST' class='quiz-edit'>
  <div class='item'>
    <label for='kanji'>Kanji</label>
    <input id='kanji' name='quiz[kanji]' value='<%= quiz.kanji %>' />
  </div>
  <div class='item'>
    <label for='kana'>Kana</label>
    <input id='kana' name='quiz[kana]' value='<%= quiz.kana %>' />
  </div>
  <div class='item'>
    <label for='prefecture'>Prefecture</label>
    <input id='prefecture' name='quiz[prefecture]' value='<%= quiz.prefecture %>' />
  </div>
  <div class='item'>
    <label for='level'>Level (1~5)</label>
    <input id='level' name='quiz[level]' value='<%= quiz.level %>' type='number' />
  </div>
  <div class='item'>
    <label for='hint'>Hint (1~)</label>
    <input id='hint' name='quiz[hint]' value='<%= quiz.hint %>' type='number' />
  </div>
  <div class='item'>
    <label for='description'>Description</label>
    <textarea id='description' name='quiz[description]'><%= quiz.description %></textarea>
  </div>
  <input id='id' name='quiz[id]' type='hidden' value='<%= quiz.id %>' />
  <button type='submit' class='submit'>Update</button>
</form>
