<h1>難読地名いちらん</h1>
<ul class='quizzes-list'>
  <% quizzes.each do |quiz| %>
    <li class='quiz'>
      <a href='/quizzes/<%= quiz.id %>/edit'>
        <ruby class='name'>
          <span class='kanji'><%= quiz.kanji %></span>
          <rt><%= quiz.kana %></rt>
        </ruby>
      </a>
      <span class='prefecture'><%= quiz.prefecture %></span>
      <span class='level'>Lv.<%= quiz.level %></span>
      <p class='hint'><%= quiz.hint %></p>
    </li>
  <% end %>
</ul>
